<mat-toolbar>
  <span>Qr<strong>Generator</strong></span>
  <span class="example-spacer"></span>
  <a mat-icon-button class="example-icon github-icon" aria-label="GitHub" target="_blank" href="https://github.com/tuUsuario">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="API" target="_blank" href="https://qrapi-rho.vercel.app/">
    <mat-icon>api</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/manuferrer/">
    <mat-icon>person</mat-icon>
  </a>
</mat-toolbar>
