<div>
  <h2>Generador de Código QR</h2>
  <form (submit)="isVCardSelected ? generateVCardQR() : generateQR()">
    <div>
      <mat-form-field>
        <mat-label for="text">Texto:</mat-label>
        <input matInput type="text" id="text" [(ngModel)]="text" name="text" required>
      </mat-form-field>
    </div>
    @if(!isVCardSelected) {
    <div>
      <mat-form-field>
        <mat-label for="format">Formato:</mat-label>
        <mat-select id="format" [(ngModel)]="format" name="format">
          <mat-option value="svg">SVG</mat-option>
          <mat-option value="png">PNG</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    }
    <button type="submit" mat-raised-button>Generar Código QR</button>
    <button type="button" mat-raised-button (click)="isVCardSelected = false">Generar Texto QR</button>
  </form>
</div>

<!-- Mostrar el código QR generado o un mensaje si no hay uno -->
@if(qrCodeImageUrl) {
  <div>
      <div>
        <h3>Código QR Generado:</h3>
        <img [src]="qrCodeImageUrl" alt="Código QR">
      </div>
  </div>
}@else {
  <div>
      <p>No hay ningún código QR generado.</p>
  </div>
}
