<div>
  <h2>Generador de Código QR</h2>
</div>
<mat-tab-group>
  <!-- Pestaña 1 -->
  <mat-tab label="Text QR">
    <ng-template matTabContent>
      <h3>Text QR</h3>
      <form (submit)="generateQR()">
        <div>
          <mat-form-field>
            <mat-label>Texto:</mat-label>
            <input matInput [formControl]="text" placeholder="Ingrese el texto">
            @if (!text.valid && (text.dirty || text.touched))
            {
              <mat-error>
                Ingrese un texto válido.
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label for="format">Formato:</mat-label>
            <mat-select id="format" [(ngModel)]="format" name="format">
              <mat-option value="svg">SVG</mat-option>
              <mat-option value="png">PNG</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button>Generar Código QR</button>
      </form>
      <!-- Mostrar el código QR generado o un mensaje si no hay uno -->
      @if(qrCodeImageText) {
        <div>
            <div>
              <h3>Código QR Generado:</h3>
              <img [src]="qrCodeImageText" alt="Código QR">
            </div>
        </div>
      }@else {
        <div>
        </div>
      }
    </ng-template>
  </mat-tab>

  <!-- Pestaña 2 -->
  <mat-tab label="Url QR">
    <ng-template matTabContent>
      <h3>Url QR</h3>
      <form (submit)="generateUrlQR()">
        <div>
          <mat-form-field>
            <mat-label>URL</mat-label>
            <input matInput [formControl]="url" placeholder="Ingrese la URL">
            @if (!url.valid && (url.dirty || url.touched))
            {
              <mat-error>
                Ingrese una URL válida (debe comenzar con 'http' o 'https').
              </mat-error>
            }
          </mat-form-field>
        </div>
        @if(!isVCardSelected) {
        <div>
          <mat-form-field>
            <mat-label for="format">Formato:</mat-label>
            <mat-select id="format" [(ngModel)]="format" name="format">
              <mat-option value="svg">SVG</mat-option>
              <mat-option value="png">PNG</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        }
        <button type="submit" mat-raised-button>Generar Código QR</button>
      </form>
      <!-- Mostrar el código QR generado o un mensaje si no hay uno -->
      @if(qrCodeImageUrl) {
        <div>
            <div>
              <h3>Código QR Generado:</h3>
              <img [src]="qrCodeImageUrl" alt="Código QR">
            </div>
        </div>
      }@else {
        <div>
        </div>
      }
    </ng-template>
  </mat-tab>
</mat-tab-group>
